html{
	background-color: #fcedb1;
}
body {
    font-family: 'Roboto';
}
header{
	width:960px;
	height: 70px;
	margin-left: auto;
	margin-right: auto;
}
#marca{
	width: 200px;
	height: 70px;
	float: left;
	animation: shake;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

#botonera_principal{
	width:500px;
	height: 70px;
	float: right;
}nav ul{
	list-style: none;/* saca los puntitos*/
	margin:0;
	padding: 0;
}nav ul li{
	display: inline-block;/* Lo muestro uno al lado del otro  */
	float: left;
	text-shadow: 0px 1px #FFF;
	border-radius: 5px;}nav ul li a{
	color: #999;
	text-decoration: none; /*le sacamos el subrayado*/
	display: block;
	background-color: white;
	padding: 26px 21px;
	       /*alto  ancho*/
}nav ul li a:hover{
	color: #000;
	background-color: #EEEEEE;
}section#contenido_principal{
	width:960px;
	height: auto;
	background-color:#dfe7eb; 
	margin-left: auto;
	margin-right: auto;
}#imagen1{
	width: 350px;
	height: 300px;
	background-color:#18cf15;
	float: left;
	margin-bottom: 10px;
	background-image: url(img/img1.jpg);
	background-size: cover;}
#presentacion{
	height: auto;
	float: right;
	margin-bottom: 10px;
}#tituloarticulo{
	font-size: 30px;
	margin:5px;
}#contenido_articulo{
	font-size: 20px;
	margin:5px;
}#texto_contenido{
	width: 250px;
	height: 300px;
	background-color: #ff7675;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}#contenido_segundo{
	font-size: 20px;
	margin: 10px;
}#imagen2{
	height: 300px;
	width: 440px;
	background-color: #bdad33;
	float: left;
	margin-bottom: 10px;
	background-image: url(img/img2.jpg);
	background-size: cover;
}#destacado{
	width: 250px;
	height: 300px;
	background-color: #fd79a8;
	float: right;
	margin-bottom: 10px;
}
#contenido_destacado{
	font-size: 20px;
	margin: 10px;
}#complementario{
	width: 960px;
	height: 180px;
	background-color: #c2447f;
	clear: both;
}#imagen_aside{
	width: 960px;
	height: 180px;
}footer{
	width: 960px;
	height: 180px;
	background-color: #000000;
	margin-left: auto;
	margin-right: auto;
}#datos{
	width: 300px;
	height: 180px;
	background-color: #e17055;
	float: left;
}#contenido_datos{
	font-size: 20px;
	margin: 10px;
}#redes{
	width: 660px;
	height: 180px;
	background-color: #ff7675;
	float:right;
}#contenido_redes{text-align: right;
	font-size: 30px;
	margin-right: 10px;
}#imglogo{
	margin:5px;
}
#mapa{
    height: 500px;
    width: 100%;
    display: flex;
    margin-top: 20px;
    margin: auto;
}
.noticiasimg{
	max-width:400px;
	height:auto;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  max-width: 300px;
  margin:20px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.cardcontainer {
  padding: 2px 16px;
}
#divgrid{
	display:grid;
  grid-template-columns: auto auto auto;
	}
@media all and (max-width:720px){
header{
	width:100%;
	height: 70px;
	margin-left: auto;
	margin-right: auto;
}#marca{
	width: 200px;
	height: 70px;
	float: left;
}#botonera_principal{
	width: 100%;
	height: 70px;
	float: right;
}nav ul{
	list-style: none;/* saca los puntitos*/
	margin:0;
	padding: 0;
}nav ul li{
	display: inline-block;/* Lo muestro uno al lado del otro  */
	float: left;
	text-shadow: 0px 1px #FFF;
	border-radius: 5px;}nav ul li a{
	color: #999;
	text-decoration: none; /*le sacamos el subrayado*/
	display: block;
	background-color: white;
	padding: 10px 10px;
	       /*alto  ancho*/
}nav ul li a:hover{
	color: #000;
	background-color: #EEEEEE;
}section#contenido_principal{
	width:100%;
	height: auto;
	background-color:#dfe7eb; 
	margin-left: auto;
	margin-right: auto;
}#imagen1{
	width: 350px;
	height: 300px;
	background-color:#18cf15;
	float: left;
	margin-bottom: 10px;
	background-image: url(img/img1.jpg);
	background-size: cover;}
#presentacion{
	width: 100%;
	height: auto;
	float: right;
	margin-bottom: 10px;
}#tituloarticulo{
	font-size: 30px;
	margin:5px;
}#contenido_articulo{
	font-size: 20px;
	margin:5px;
}#texto_contenido{
	width: 250px;
	height: 300px;
	background-color: #ff7675;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}#contenido_segundo{
	font-size: 20px;
	margin: 10px;
}#imagen2{
	height: 100%;
	width: auto;
	background-color: #bdad33;
	float: left;
	margin-bottom: 10px;
	background-image: url(img/img2.jpg);
	background-size: cover;
}#destacado{
	width: 250px;
	height: 300px;
	background-color: #fd79a8;
	float: right;
	margin-bottom: 10px;
}
#contenido_destacado{
	font-size: 20px;
	margin: 10px;
}#complementario{
	width: 100%;
	height: 180px;
	background-color: #c2447f;
	clear: both;
}#imagen_aside{
	width: 100%;
	height: 180px;
}footer{
	width: 100%;
	height: 180px;
	background-color: #000000;
	margin-left: auto;
	margin-right: auto;
}#datos{
	width: 300px;
	height: 180px;
	background-color: #e17055;
	float: left;
}#contenido_datos{
	font-size: 20px;
	margin: 10px;
}#redes{
	width: 100%;
	height: 180px;
	background-color: #ff7675;
	float:right;
}#contenido_redes{text-align: right;
	font-size: 30px;
	margin-right: 10px;
}#imglogo{
	margin:5px;
}
#mapa{
    height: 500px;
    width: 100%;
    display: flex;
    margin-top: 20px;
    margin: auto;
}
.noticiasimg{
	max-width:100%;
}	
	
	}